In [2]:
import numpy as np
import pandas as pd

### Cleaning and Preparation of Data

In [2]:
#Preaparation
input_file = 'data.csv'
output_file = 'cleaned_data.csv'

with open(input_file, 'r', encoding='utf-8') as f_in, open(output_file, 'w', encoding='utf-8') as f_out:
    for line in f_in:
        # Split by comma to count columns
        columns = line.strip().split(',')
        # Check if line has exactly 34 columns
        if len(columns) == 34:
            f_out.write(line)

### Data Loading and Inspection

In [3]:
df = pd.read_csv("cleaned_data.csv")
df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2021,...,NaN,NaN,47.80,NaN,49.70,48.7 [47.8-49.7],NaN,NaN,EN,2024-08-01T22:00:00.000Z
1,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,CAF,Central African Republic,Year,2021,...,NaN,NaN,48.45,NaN,50.92,49.6 [48.5-50.9],NaN,NaN,EN,2024-08-01T22:00:00.000Z
2,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2021,...,NaN,NaN,50.49,NaN,52.57,51.5 [50.5-52.6],NaN,NaN,EN,2024-08-01T22:00:00.000Z
3,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,SWZ,Eswatini,Year,2021,...,NaN,NaN,50.73,NaN,52.82,51.6 [50.7-52.8],NaN,NaN,EN,2024-08-01T22:00:00.000Z
4,WHOSIS_000001,Life expectancy at birth (years),text,EMR,Eastern Mediterranean,Country,SOM,Somalia,Year,2021,...,NaN,NaN,50.62,NaN,53.10,51.7 [50.6-53.1],NaN,NaN,EN,2024-08-01T22:00:00.000Z

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24288 entries, 0 to 24287
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   IndicatorCode               24288 non-null  object
 1   Indicator                   24288 non-null  object
 2   ValueType                   24288 non-null  object
 3   ParentLocationCode          24288 non-null  object
 4   ParentLocation              24288 non-null  object
 5   Location type               24288 non-null  object
 6   SpatialDimValueCode         24288 non-null  object
 7   Location                    24288 non-null  object
 8   Period type                 24288 non-null  object
 9   Period                      24288 non-null  int64
 10  IsLatestYear                24288 non-null  bool
 11  Dim1 type                   24288 non-null  object
 12  Dim1                        24288 non-null  object
 13  Dim1ValueCode               24288 non-null  object
 14  Dim2 type                   0 non-null      float64
 15  Dim2                        0 non-null      float64
 16  Dim2ValueCode               0 non-null      float64
 17  Dim3 type                   0 non-null      float64
 18  Dim3                        0 non-null      float64
 19  Dim3ValueCode               0 non-null      float64
 20  DataSourceDimValueCode      0 non-null      float64
 21  DataSource                  0 non-null      float64
 22  FactValueNumericPrefix      0 non-null      float64
 23  FactValueNumeric            24288 non-null  float64
 24  FactValueUoM                0 non-null      float64
 25  FactValueNumericLowPrefix   0 non-null      float64
 26  FactValueNumericLow         24248 non-null  float64
 27  FactValueNumericHighPrefix  0 non-null      float64
 28  FactValueNumericHigh        24248 non-null  float64
 29  Value                       24288 non-null  object
 30  FactValueTranslationID      0 non-null      float64
 31  FactComments                0 non-null      float64
 32  Language                    24288 non-null  object
 33  DateModified                24288 non-null  object
dtypes: bool(1), float64(17), int64(1), object(15)
memory usage: 6.1+ MB

In [5]:
df.describe()

,Period,Dim2 type,Dim2,Dim2ValueCode,Dim3 type,Dim3,Dim3ValueCode,DataSourceDimValueCode,DataSource,FactValueNumericPrefix,FactValueNumeric,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,FactValueTranslationID,FactComments
count,24288.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24288.000000,0.0,0.0,24248.000000,0.0,24248.000000,0.0,0.0
mean,2010.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.589327,NaN,NaN,44.202363,NaN,45.007383,NaN,NaN
std,6.344419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.452628,NaN,NaN,26.433955,NaN,26.478474,NaN,NaN
min,2000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.080000,NaN,NaN,8.670000,NaN,9.470000,NaN,NaN
25%,2005.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.780000,NaN,NaN,18.450000,NaN,19.150000,NaN,NaN
50%,2010.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.835000,NaN,NaN,32.515000,NaN,33.235000,NaN,NaN
75%,2016.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.850000,NaN,NaN,71.440000,NaN,72.280000,NaN,NaN
max,2021.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.370000,NaN,NaN,87.320000,NaN,87.420000,NaN,NaN

### Handling Missing Values

In [6]:
def fill_columns(df):
    for col in df.columns:
        if pd.api.types.is_numeric_dtype(df[col]):  # Check if column is numeric
            df[col].fillna(df[col].mean(), inplace=True)  # Fill NaN with mean
        else:  # Non-numeric columns
            most_frequent = df[col].mode().iloc[0]  # Get the most frequent value
            df[col].fillna(most_frequent, inplace=True)  # Fill NaN with the mode
    return df

In [7]:
df.dropna(axis=1, how='all', inplace=True)
df.dropna(how="any", inplace=True)
fill_columns(df)

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,IsLatestYear,Dim1 type,Dim1,Dim1ValueCode,FactValueNumeric,FactValueNumericLow,FactValueNumericHigh,Value,Language,DateModified
0,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2021,True,Sex,Male,SEX_MLE,48.73,47.80,49.70,48.7 [47.8-49.7],EN,2024-08-01T22:00:00.000Z
1,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,CAF,Central African Republic,Year,2021,True,Sex,Male,SEX_MLE,49.57,48.45,50.92,49.6 [48.5-50.9],EN,2024-08-01T22:00:00.000Z
2,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2021,True,Sex,Both sexes,SEX_BTSX,51.48,50.49,52.57,51.5 [50.5-52.6],EN,2024-08-01T22:00:00.000Z
3,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,SWZ,Eswatini,Year,2021,True,Sex,Male,SEX_MLE,51.64,50.73,52.82,51.6 [50.7-52.8],EN,2024-08-01T22:00:00.000Z
4,WHOSIS_000001,Life expectancy at birth (years),text,EMR,Eastern Mediterranean,Country,SOM,Somalia,Year,2021,True,Sex,Male,SEX_MLE,51.75,50.62,53.10,51.7 [50.6-53.1],EN,2024-08-01T22:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24283,WHOSIS_000015,Life expectancy at age 60 (years),text,EUR,Europe,Country,CHE,Switzerland,Year,2000,False,Sex,Female,SEX_FMLE,24.80,24.78,24.87,24.8 [24.8-24.9],EN,2024-08-01T22:00:00.000Z
24284,WHOSIS_000015,Life expectancy at age 60 (years),text,WPR,Western Pacific,Country,AUS,Australia,Year,2000,False,Sex,Female,SEX_FMLE,24.85,24.79,24.91,24.9 [24.8-24.9],EN,2024-08-01T22:00:00.000Z
24285,WHOSIS_000015,Life expectancy at age 60 (years),text,EUR,Europe,Country,FRA,France,Year,2000,False,Sex,Female,SEX_FMLE,25.29,25.24,25.33,25.3 [25.2-25.3],EN,2024-08-01T22:00:00.000Z
24286,WHOSIS_000015,Life expectancy at age 60 (years),text,AMR,Americas,Country,NIC,Nicaragua,Year,2000,False,Sex,Female,SEX_FMLE,25.57,25.48,25.72,25.6 [25.5-25.7],EN,2024-08-01T22:00:00.000Z
24287,WHOSIS_000015,Life expectancy at age 60 (years),text,WPR,Western Pacific,Country,JPN,Japan,Year,2000,False,Sex,Female,SEX_FMLE,27.06,27.02,27.11,27.1 [27.0-27.1],EN,2024-08-01T22:00:00.000Z

In [8]:
has_nan = df.isnull().values.any()
print(has_nan) #No NaN value

False

### Task 3

In [12]:
aggregated_data = df.groupby('Location')['FactValueNumeric'].agg(['mean', 'std', 'min', 'max']).reset_index()

# Display the result
print(aggregated_data)

                               Location       mean        std    min    max
0                           Afghanistan  36.324242  22.270944  13.07  62.55
1                               Albania  48.494848  27.994443  17.17  80.13
2                               Algeria  47.881212  27.208538  18.70  77.08
3                                Angola  36.444091  21.363478  12.67  64.93
4                   Antigua and Barbuda  47.769407  27.718786  17.56  77.90
..                                  ...        ...        ...    ...    ...
179  Venezuela (Bolivarian Republic of)  47.544015  26.588747  17.44  79.04
180                            Viet Nam  45.881742  27.167043  16.09  79.20
181                               Yemen  42.120909  24.645426  15.52  70.61
182                              Zambia  35.015833  20.988298  11.27  64.07
183                            Zimbabwe  32.723864  19.848983  11.51  61.48

[184 rows x 5 columns]

### Task 4

In [14]:
average_life_expectancy_by_gender = df.groupby('Dim1')['FactValueNumeric'].mean().reset_index()

# Display the result
print(average_life_expectancy_by_gender)

         Dim1  FactValueNumeric
0  Both sexes         44.593201
1      Female         46.455001
2        Male         42.684787

In [17]:
# Filter average life expectancy for "Male"
male_life_expectancy = average_life_expectancy_by_gender.loc[average_life_expectancy_by_gender['Dim1'] == 'Male']
print(male_life_expectancy)

   Dim1  FactValueNumeric
2  Male         42.684787

### Task 5

In [18]:
# Calculate the correlation between low and high life expectancy ranges
correlation = df['FactValueNumericLow'].corr(df['FactValueNumericHigh'])

print(f"Correlation between low and high life expectancy ranges: {correlation}")

Correlation between low and high life expectancy ranges: 0.9996708159365282

### Task 6

In [20]:
region_data = df.groupby('ParentLocation')['FactValueNumeric'].mean()

# Display the result
print(region_data)

ParentLocation
Africa                   37.927800
Americas                 47.592494
Eastern Mediterranean    44.840390
Europe                   48.419559
South-East Asia          44.473258
Western Pacific          45.260491
Name: FactValueNumeric, dtype: float64

### Task7

In [23]:
highest_life_expectancy_by_gender = df.groupby('Dim1')['FactValueNumeric'].max()
lowest_life_expectancy_by_gender = df.groupby('Dim1')['FactValueNumeric'].min()
print("highest_life_expectancy_by_gende: ",highest_life_expectancy_by_gender,"\n")
print("lowest_life_expectancy_by_gender: ",lowest_life_expectancy_by_gender)

highest_life_expectancy_by_gende:  Dim1
Both sexes    84.66
Female        87.37
Male          82.39
Name: FactValueNumeric, dtype: float64

lowest_life_expectancy_by_gender:  Dim1
Both sexes    10.08
Female        10.75
Male           9.08
Name: FactValueNumeric, dtype: float64

### Task8

In [29]:
Q1 = df['FactValueNumeric'].quantile(0.25)
Q3 = df['FactValueNumeric'].quantile(0.75)

#IQR
IQR = Q3 - Q1

#lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['FactValueNumeric'] < lower_bound) | (df['FactValueNumeric'] > upper_bound)]

print("No outliers" if outliers.empty else f"Outliers:\n{outliers}")

No outliers

### Task9

In [32]:
threshold = int(input("Enter a Threshold Value: "))

values_more_than_threshold = df[df['FactValueNumeric']>threshold]
propotion = len(values_more_than_threshold)/len(df)
print("Propotion: ",round(propotion,3))

Enter a Threshold Value: 50
Propotion:  0.488

### Task10

In [38]:
df = df.sort_values(by=['Location', 'Period'])

df['ChangeInLifeExpectancy'] = df.groupby('Location')['FactValueNumeric'].diff()

df[['Location', 'Period', 'FactValueNumeric', 'ChangeInLifeExpectancy']]

          Location  Period  FactValueNumeric  ChangeInLifeExpectancy
23262  Afghanistan    2000             53.25                     NaN
23268  Afghanistan    2000             53.82                    0.57
23279  Afghanistan    2000             54.43                    0.61
23766  Afghanistan    2000             13.07                  -41.36
23769  Afghanistan    2000             13.14                    0.07
...            ...     ...               ...                     ...
21        Zimbabwe    2021             58.48                    2.29
41        Zimbabwe    2021             60.53                    2.05
562       Zimbabwe    2021             12.38                  -48.15
577       Zimbabwe    2021             13.63                    1.25
604       Zimbabwe    2021             14.63                    1.00

[24248 rows x 4 columns]